/* Tło przycisków */
#play {
	-fx-background-image: url("../rew/play.png");
}

#prev {
	-fx-background-image: url("../rew/prev.png");
}

#next {
	-fx-background-image: url("../rew/next.png");
}

.button,
.toggle-button {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 70% 70%; 
	-fx-background-color: transparent;
	-fx-opacity: 40%;
}

/* Przyciski po najechaniu */
.button:hover,
.toggle-button:hover,
.toggle-button:selected {
	-fx-opacity: 100%;
}